@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    color: #464646;
    background-color: #F5F5F5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#cabecalho{
    padding: 16px 16px 0 16px;
    display: flex;
    width: 100%;
    height: 56px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

}

#titulo-cabecalho{
    width: 180px;
    display: inline-block;  
    font-weight: 700;
    font-size: 19px;
}

header span{
    font-weight: regular;
}

main{
    padding: 16px;
}
#main-imagem{
    height: 98px;
    border-radius: 50px;
    margin: 16px 0;
}
#main-titulo{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}
#main-resumo{
    font-size: 14px;
    
}

#main-links{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    
}

#main-links a{
    text-decoration: none;
    color: #464646;
}
#sobre-mim{
    background-color: #EAF2FD;
    width: 100%;
    box-sizing: border-box;
}
#sobre-mim h2{
    text-align: start;
    padding-top: 16px;
    padding-left: 16px;
    width: 90%;
    
}
#sobre-mim p{
    padding: 0 16px;
}
#assinatura{
    width: 140px;    
}
.class-conteudo{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.titulo-section{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 32px;
    width: 100%;
    
}
.conteudo-section{
    box-sizing: border-box;
    padding: 16px;
    height: 118px;
    width: 48%;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.conteudo-section label{
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    margin-top: 8px;   
}
.conteudo-section img{
    width: 24px;
}
#formacao{
    width: 100%;
    display: flex;
    background-color:#EAF2FD ;
    flex-direction: column;
    margin-bottom: 32px;
}
#formacao h2{
    margin: 32px 0;
    width: 100%;
}
#imagem-formacao{
    display: flex;
    background-color: #FFFFFF;
    width: 296px;
    box-sizing: border-box;
    height: 118px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#imagem-formacao img{
    width: 70px;
}
#label-formacao{
    margin-top: 8px;
    padding-left: 32px;
    font-weight: 700;
    font-size: 19px;
}
#formacao-span{
    margin-top: 8px;
    margin-left: 32px;
    font-weight: 500;
    font-size: 16px;
}
#titulo-experiencias{
    margin-bottom: 16px;
}
.conteudo-experiencias{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#imagem-conteudo{
    width: 296px;
    padding-bottom: 16px;
    margin: auto;
}
#titulo-conteudo{
    padding-bottom: 8px;
    width: 296px;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 700;
}
#subtitulo-conteudo{
    margin-bottom: 8px;
    width: 296px;
    padding-left: 32px;
    font-size: 14px;
    font-weight: 500;
}
#btn-repositorio{
    background-color: #E5E5E5;
    width: 108px;
    height: 40px;
    color: #2A7AE4;
    border: 0.5px solid #2A7AE4;
    font-size: 16px;
    margin-left: 32px;
    margin-right: 32px;
}
#btn-demo{
    color: #E5E5E5;
    height: 40px;
    background-color: #2A7AE4;
    border: 0.5px solid #2A7AE4;
    font-size: 16px;   
}

